%h1 Users index
=table_for(@users) do |t|
	-t.data do
		-t.cell :username
		-t.cell :email
		-t.cell('Edit') do |u|
			-link_to "Edit", edit_manage_user_path(u)
		-t.cell("Block") do |u|
			-if u.blocked
				-link_to("Blocked", manage_user_banned_path(u), :confirm => "Are you sure?")
			-else
				-link_to "Block", manage_user_banned_path(u), :confirm => "Are you sure?"
		-t.cell('Destroy') do |u|
			-link_to("Destroy", manage_user_path(u), :method=> :delete, :confirm=> "Are you sure?")
			
=will_paginate
			